.payment {
  width: 70%;
  margin: 50px 30px 0 auto;
  text-align: left;
}

.payment__description {
  font-size: 0.9rem;
}

.payment__title {
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: normal;
  color: #333;
}

.payment__check {
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment__check--item {
  padding: 12px 36px;
}

.payment__check--item:first-child {
  border-bottom: 1px solid #ccc;
}

.payment__check--item:last-child {
  border-top: 1px solid #ccc;
}

.form-check-input {
  cursor: pointer;
}
